.container {
  background-color: white;
  width: 65vw;
  height: 75vh;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comic Sans MS';
}