.header{
    width: 65vw;
    height: 15vh;
    background-color: #6f98c8;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    text-align: center;
    color: white;
}
.header img{
    margin: 0;
    width: 100%;
    height: 70%;
}
.header a{
    color: white;
    text-decoration: none;
}