.container {
  width: 65vw;
  height: 75vh;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 15%;
  background-color: white;
  font-family: 'Arial';
  margin-right: auto;
  text-align: left;
}

.sidebar a {
  display: block;
  border: 0;
  font-family: 'Arial';
  background-color: transparent;
  padding: 0%;
}

.mainpart {
  position: relative;
  height: 100%;
  width: 85%;
}

.important {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
}

.cool {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: gray;
}
