.container{
    width: 65vw;
    height: 75vh;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 25%;
    background-color: gray;
    font-family: 'Comic Sans MS';
    margin-right: auto;
    text-align: left;
}

.sidebar a{
    display: block;
}

.mainpart{
    height: 100%;
    width: 75%;
}

.important{
    width: 100%;
    height: 100%;
    background-color: white;
}

.cool{
    width: 100%;
    height: 100%;
    background-color: gray;
}