.container {
  width: 65vw;
  height: 75vh;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 25%;
  background-color: white;
  font-family: "Comic Sans MS";
  margin-right: auto;
  text-align: left;
}

.sidebar button {
  display: block;
  border: 0;
  font-family: "Comic Sans MS";
  background-color: transparent;
  padding: 0%;
}

.mainpart {
  position: relative;
  height: 100%;
  width: 75%;
}

.important {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
}

.cool {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white;
}
