.header {
    border: 2px solid black;
    margin-left: 17%;
    width: 1335px;
    height: 115px;
    background-color: #6f98c8;
    text-align: center;
}

.header img {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 75%;
}

.header a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Comic Sans MS';
    color: white;
}

.top{
    border-bottom: 2px solid black;
    background-color: #cccccc;
    width: 100%;
    height: 20px;
}

.top p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Comic Sans MS';
}

.loginbox{
    margin-top: 7px;
    border: 2px solid black;
    background-color: #eeeeee;
    margin-left: 17%;
    width: 200px;
    height: 250px;
}

.bigbox{
    border: 2px solid black;
    margin-left: 500px;
    margin-top: -253px;
    background-color: #eeeeee;
    width: 59.15vw;
    height: 30vw;
}

.bigbox h2{
    font-family: 'Comic Sans MS';
}

.bigbox h4{
    font-family: 'Comic Sans MS';
}

.bigbox button{
    border: 0;
    padding: 0;
}

.bigbox img{
    width: 45px;
    height: 45px;
}

.advertisement{
    margin-left: 17%;
    margin-top: -300px;
    border: 2px solid black;
    background-color: #eeeeee;
    width: 200px;
    height: 298px;
}

.advertisement img{
    width: 100%;
    height: 100%;
}

.advertisement p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Comic Sans MS';
}

body {
    background-image: url("/images/background.jpeg");
    background-size: 100vw 100vh;
    cursor: url("/cursors/roblox_default.png"), auto;
    display: inline-block;
}

button {
    cursor: url("/cursors/roblox_hover.png"), auto;
}

a {
    cursor: url("/cursors/roblox_hover.png"), auto;
}