.container {
  display: flex;
  flex-direction: row;
  width: 65vw;
  height: 75vh;
}
.leftside {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  align-items: center;
}
.signupbox {
  border: 2px solid black;
  width: 65%;
  height: 50%;
  background-color: #eeeeee;
}
.smallsection {
  text-align: left;
  font-family: "Comic Sans MS";
  border-bottom: 2px solid black;
  background-color: #cccccc;
  width: 100%;
  height: 11%;
}
.smallsection h3 {
  margin: 0;
  padding: 0;
}

.gif{
  bottom: 0;
  right: 0;
  position: absolute;
  width: 350px;
  height: 305px;
}

.rightside {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS";
  float: right;
  width: 75%;
  height: 99.4%;
  border: 2px solid black;
  background-color: #eeeeee;
  text-align: left;
  list-style-type: none;
}

.adbox {
  margin-top: 15%;
  border: 2px solid black;
  width: 80%;
  height: 30%;
  background-color: #eeeeee;
}
