.container{
    width: 65vw;
    height: 75vh;
    background-color: white;
    border: 2px solid black;
}
.container img{
    width: 25vw;
    height: 50vh;
}
.container button{
    margin-top: 5%;
    border: 0;
    background-color: transparent;
}