.container{
    width: 65vw;
    height: 75vh;
    background-color: white;
    border: 2px solid black;
}
.contextbar{
    border-bottom: 2px solid black;
    background-color: #b0c4de;
    width: 100%;
    height: 10%;
    display: inline-block;
    margin-top: 0px;
}
.iconsect{
    float: left;
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}
.iconsect img{
    width: 32px;
    height: 32px;
}
.namesect{
    border-right: 2px solid black;
    float: left;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.namesect p {
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 10px;
}
.namesect a{
    border-bottom: 2px solid black;
    font-family: 'Comic Sans MS';
    font-size: 10px;
    text-decoration: none;
}
.rolesect{
    float: left;
    width: 6%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    border-right: 2px solid black;
}
.quotesect{
    float: left;
    width: 18%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    font-size: 10px;
}
p{
    font-family: 'Comic Sans MS';
}